---
layout: default
title: "Climacons"
description: "75 climatically categorised pictographs for web and user interface designers"
download: "https://github.com/AdamWhitcroft/climacons/archive/master.zip"
tweet: "Climacons: 75 Weather Icons for %23ui %23design %23freebie"
version: "1.1"
features:
  - .eps
  - .png
  - .psd
  - .svg
---

{% include hero.html %}

{% include showcase.html %}

{% if page.features %}
{% include features.html %}
{% endif %}

{% include tweet.html %}

{% include waiver.html %}
